.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .center {
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(255, 191, 162);
    outline: none;
    transition: 1s ease-in-out;
  }
  
  #forget{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: 0.3s ease-out;
    margin-top: 70px;
    color:rgb(255, 240, 230);
  }
  
  #forget:hover{
    transition: 0.3s ease-out;
    color: white;
    transform: scale(1.01);
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: white;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: rgb(234, 105, 46);
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span{
    font-family: 'Comfortaa', sans-serif;;
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
  }