.container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
 



}
.post{

    width: 400px;
    height: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
}
.post img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    transition: all .5s ease;

}
.post h1{
    z-index: 5;
    color: white;
}
.post:hover img{
    transition: all .5s ease;
 transform: scale(1.2);

}
.container .projectName{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
