html{
  height: 100%;
}

body{
  margin: 0px;
  background: linear-gradient(rgb(252, 152, 106), rgb(255, 139, 85), rgb(229, 117, 66));
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}



.Form{
    width: 300px;
    height: 300px;
    margin: 120px auto;
}

.form-group {
	position: relative;
}

.Form form{
    display: flex;
    flex-direction: column;
}

.Form h1{
    font-family: 'Comfortaa', sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.form-input{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    width: 100%;
    height: 25px;
    font-size: 12px;
    border: none;
    margin-top: 15px;
    outline: none;
    box-shadow: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
     -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
        transition: all .5s ease;
}

.form-input.ani{
  position: relative;
  background: transparent;
  padding: 0;
  border-bottom: 2px solid rgb(255, 191, 162);
  stroke-linecap: round;
}

.form-input.ani ~ .border-bottom-animation {
  position: absolute;
  content: "";
  width: 0;
  background: white;
  height: 2px;
  z-index: 99;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.form-input.ani ~ .border-bottom-animation.left {
  left: 0;
  bottom: 0;
}

.form-input.ani:hover ~ .border-bottom-animation.left {
  background: white;
  width: 100%;
}

::placeholder{
  color: white;
}

.errorMessage{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(27, 27, 27);
  font-size: 12px;
  margin-top: 60px;
  margin-bottom: -87px;
  background-color: white;
  padding:6px 0px;
}















