body{
  padding: 0px;
  margin: 0px;
}

#registerForm{
    width: 300px;
    height: 300px;
    margin: 150px auto;
}

.form-group {
	position: relative;
}

#registerForm form{
    display: flex;
    flex-direction: column;
}

#registerForm h1{
    font-family: 'Comfortaa', sans-serif;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.form-input{
    position: relative;
    width: 100%;
    height: 25px;
    font-size: 12px;
    border: none;
    margin-top: 15px;
    outline: none;
    box-shadow: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
     -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
        transition: all .5s ease;
}

.form-input.ani{
  position: relative;
  background: transparent;
  padding: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.form-input.ani ~ .border-bottom-animation {
  position: absolute;
  content: "";
  width: 0;
  background: rgba(0, 0, 0, .2);
  height: 2px;
  z-index: 99;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

.form-input.ani ~ .border-bottom-animation.left {
  left: 0;
  bottom: 0;
}

.form-input.ani:hover ~ .border-bottom-animation.left {
  background: #e63900;
  width: 100%;
}

.container {
  background-color: red;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.register {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: rgb(255, 139, 85);
  border: 1px solid rgb(255, 139, 85);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: black;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.register:hover {
  transition: 1s ease-in-out;
  background: rgb(234, 105, 46);
}

.register:hover svg {
  stroke-dashoffset: -480;
}

.register span{
  font-family: 'Comfortaa', sans-serif;;
  color: white;
  font-size: 18px;
  font-weight: 100;
}













